@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --changeColor: black;

  --padding-left: 6em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h4,
h5,
h6,
p {
  font-weight: 400;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-size: 1.125rem;
  font-family: "Public Sans", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-weight: 400;
  color: var(--dark-blue);
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}

button,
a,
.media-icon,
.article-details > h3 {
  cursor: pointer;
}

.backdrop {
  background-color: rgb(45, 49, 77, 1);
  opacity: 10%;
}

.primary-nav {
  color: var(--dark-blue);
}

.effect {
  box-shadow: 0px 22px 70px 30px rgb(45, 49, 77, 0.8);
}

.logo {
  padding-top: 1.2em;
  padding-left: 1.4em;
}

.underline-indicators > * {
  cursor: pointer;
  border: 0;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-bottom: 0.2rem solid rgba(255, 0, 0, 0);
  border-color: var(--lime-green);
}

.mobile-nav-toggle {
  display: block;
  position: absolute;
  z-index: 20;
  right: 1.4em;
  top: 1em;
  background: transparent;
  background-image: url(/assets/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1.4em;
  aspect-ratio: 1;
  border: 0;
}

.primary-nav {
  position: absolute;
  z-index: 10;
  inset: 0;
  transform: translateY(-140%);
  transition: transform 500ms ease-in-out;
  padding: 1em 30vw;
  background-color: var(--white);
  margin-top: 4.65em;
  height: 270px;
  margin-inline: 5%;
  border-radius: 0.5em;
}

.primary-nav[data-visible="true"] {
  transform: translateY(0);
}

.mobile-nav-toggle[aria-expanded="true"] {
  background-image: url(/assets/icon-close.svg);
}

.mobile-nav-toggle:focus-visible {
  outline: 5px solid var(--white);
  outline-offset: 5px;
}

.underline-indicators > * {
  padding: 0.5em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

main {
  margin-top: 1.25em;
  background-color: var(--very-light-gray);
  padding-bottom: 3em;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  height: 300px;

  background-image: url("/assets/bg-intro-mobile.svg");
  background-size: 110%;

  background-position: top 70% left 20%;
}

.overlay-image {
  position: absolute;
  top: -40%;
  padding-inline: 1em;
}

p {
  margin-bottom: 2em;
  color: var(--grayish-blue);
  font-size: 0.938rem;
}

.section1 h1 {
  font-size: 2.5rem;
  max-width: 15ch;
}

.section-details,
.section2 {
  padding-inline: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section2 > p {
  margin-bottom: 4em;
}

.request-button {
  border: none;
  border-radius: 2em;
  font-size: 1rem;
  padding: 0.5em 1.75em;
  font-weight: 400;
  color: var(--white);
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.request-button:hover {
  background: linear-gradient(to right, hsl(136, 65%, 70%), hsl(192, 70%, 70%));
}

.section2 {
  background-color: var(--light-grayish-blue);
  margin-top: 5em;
  padding-bottom: 2em;
}

.section2 h2 {
  margin-top: 2em;
  font-size: 2rem;
  max-width: 15ch;
}

.features > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features h3 {
  margin-top: 1em;
}

article {
  padding-top: 2em;
  padding-inline: 1em;
  text-align: left;
}

article h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1em;
  padding-top: 1em;
}

.articles-container > * {
  background-color: var(--white);
  padding-bottom: 1em;
  margin-bottom: 3em;
  border-radius: 0 0 0.5em 0.5em;
  display: flex;
  flex-direction: column;
}

.articles-container > *:last-child {
  margin-bottom: 0;
}

.articles-container img {
  border-radius: 0.5em 0.5em 0 0;
}

.article-details {
  padding-inline: 1.8em;
}

.article-details h3:hover {
  color: var(--lime-green);
}

.article-author {
  margin-bottom: unset;
  margin-top: 2em;
  font-size: 0.7rem;
}

.article-details h3 {
  font-size: 1.03rem;
  font-weight: 400;
  margin-block: 0.5em;
}

.article-details p:nth-child(3) {
  font-size: 0.8rem;
}

footer {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.footer-logo {
  margin-top: 2em;
}

.social-media {
  display: flex;
  gap: 0.8em;
  margin-top: 1.5em;
}

footer ul {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

footer a {
  color: var(--white);
}

.left {
  margin-bottom: 1em;
}

.footer-wrapper a:hover {
  color: var(--lime-green);
}

.media-icon:hover path {
  fill: var(--lime-green);
}

.attribution {
  color: var(--grayish-blue);
  font-size: 0.9rem;

  margin-block: 2em;
}

.hidden {
  display: none;
}

#root {
  max-width: 1640px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 768px) {
  .mobile-nav-toggle {
    display: none;
  }

  .underline-indicators > * {
    padding: unset;
  }

  .underline-indicators > * {
    border-bottom: 0.25rem solid transparent;
  }

  .underline-indicators > *:hover,
  .underline-indicators > *:focus {
    border-bottom: 0.25rem solid rgba(255, 0, 0, 0);
    border-color: var(--lime-green);
    color: var(--dark-blue);
  }

  .effect {
    box-shadow: none;
  }

  header {
    display: flex;
    align-items: center;

    height: unset;

    position: relative;
    z-index: 100;
  }

  .logo {
    padding: unset;
    padding-left: 2em;
  }

  .hidden {
    display: block;
    margin-right: 2em;
  }

  .list-item {
    padding-block: 2em;
    height: 100%;
  }

  .primary-nav {
    transform: translateY(0);
    background-color: transparent;

    margin: unset;
    height: unset;
    border-radius: unset;
    padding: unset;

    display: flex;
    flex-direction: row;
    position: relative;
  }

  .primary-nav > ul {
    display: flex;
    position: relative;
    gap: 2em;
    font-size: 0.9rem;
    color: var(--grayish-blue);
  }

  main {
    margin-top: unset;
  }

  .section1 > * {
    width: 100%;
  }

  .section1 {
    display: flex;
    flex-direction: row-reverse;
    height: 650px;

    padding-left: 1em;
  }

  .section-details {
    align-items: flex-start;
    justify-content: center;
  }

  .image-wrapper {
    flex: 1 1 150px;
  }

  .section-details {
    flex: 1;
  }

  .section-details > h1 {
    font-size: 2.4rem;
    text-align: left;
  }

  .section-details > p {
    text-align: left;
    max-width: 42ch;
  }

  .image-wrapper {
    height: unset;
    overflow-x: clip;
    overflow-y: visible;
    background-size: cover;
    margin-bottom: 0em;
    background-image: url("/assets/bg-intro-desktop.svg");
    background-size: 160%;
    background-repeat: no-repeat;
    background-position: top 50% left 10%;
  }

  .overlay-image {
    top: 7%;
    right: -18%;
  }

  .section2 {
    margin-top: unset;
    padding-inline: unset;
    padding-left: 1em;
  }

  .section2 h2 {
    max-width: unset;
  }

  .section2 > p {
    text-align: left;
    max-width: 43%;
  }

  .section2,
  .features {
    align-items: flex-start;
  }

  .features {
    display: flex;
    gap: 1.5em;
  }

  .features > * {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 0.5em;
  }

  .feature-description {
    max-width: 25ch;
  }

  .features div:last-child {
    margin-right: 1.25em;
  }

  article {
    padding-left: 1em;
  }

  article > h2 {
    text-align: left;
  }

  .articles-container {
    display: flex;
    gap: 1.5em;
    margin-bottom: 1.25em;
  }

  .articles-container > * {
    max-width: 22%;
    padding-bottom: unset;
  }

  .article-image {
    height: 200px;
    object-fit: cover;
  }

  .articles-container > * {
    margin-bottom: 0;
  }

  footer {
    justify-content: space-around;
    flex-direction: row;
    padding-left: 1em;
    padding-block: 2.8em;
  }

  .footer-logo {
    margin-top: unset;
    padding-bottom: 0.7em;
  }

  .footer-wrapper {
    display: flex;
    gap: 3em;
  }

  .right,
  .left {
    text-align: left;
    margin: unset;
  }

  .att-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1em;
    margin-right: 2em;
    padding-bottom: 0.7em;
  }

  .attribution {
    margin-block: unset;
  }
}

@media (min-width: 1024px) {
  header {
    padding-inline: 2em;
  }

  .logo {
    padding-left: 5.1em;
  }

  .section1,
  .section2 {
    padding-left: var(--padding-left);
  }

  .section-details > h1 {
    font-size: 3.25rem;
    line-height: normal;
  }

  .section-details > p {
    font-size: 1.2rem;
    max-width: 42ch;
  }

  .overlay-image {
    top: -5%;
  }

  .section2 h2 {
    font-size: 2.25rem;
  }

  .section2 > p {
    font-size: 1.1rem;
  }

  .feature-heading {
    font-size: 1.3rem;
  }

  .feature-description {
    font-size: 0.9rem;
    max-width: 32ch;
  }

  article {
    padding-left: var(--padding-left);
  }

  article h2 {
    font-size: 2.25rem;
  }

  .article-details h3 {
    font-size: 1.2rem;
    line-height: normal;
  }

  .article-details p:last-child {
    font-size: 0.9rem;
  }

  footer {
    padding-left: var(--padding-left);
    justify-content: space-around;
    align-items: center;
    gap: 4em;
  }

  .footer-wrapper {
    gap: 5em;
  }

  .att-wrapper {
    margin-right: 6em;
  }
}

@media (min-width: 1224px) {
  .overlay-image {
    top: -17%;
  }

  .features div:last-child {
    margin-right: unset;
  }

  footer {
    gap: 10em;
  }

  .hidden {
    margin-right: 6em;
  }
}
@media (min-width: 1440px) {
  .hidden {
    margin-right: 8em;
  }
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
